/* ==========================================================================
*  Project:   Kiosque
*  Copyright: @2011 Strobe, Inc.
*  ==========================================================================
*/


$theme.carrousel-view {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3b3b3b), to(#3e3e3e));
  border-radius: 5px;
  
  .carrousel-label {
    color: #999;
    border-radius: 5px;
    padding-top: 5px;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    
    &.sel {
      background: #603;
      color: white;
    }
  }
}

$theme.article-thumb {
  border: 1px solid #603;
  background-color: #603;
  -webkit-box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-family: Oswald;
  line-height: 20px;
  
  &.sel {
    -moz-box-shadow: 0px 0px 4px #777;
    -webkit-box-shadow: 0px 0px 4px 4px #777;
    background: #603;
    color: white;
  }
}

$theme.articles-grid {
  font-family: Oswald, Verdana;
  font-size: 16px;
  line-height: 20px;
}