/* ==========================================================================
*  Project:   Kiosque
*  Copyright: @2011 Strobe, Inc.
*  ==========================================================================
*/
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background-color: rgb(234,234,234);
}

$theme.carrousel-view {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3b3b3b), to(#3e3e3e));
  border-radius: 5px;
  
  .carrousel-label {
    color: #999;
    border-radius: 5px;
    padding-top: 5px;
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    
    &.sel {
      background: #603;
      color: white;
    }
  }
}

$theme.article-thumb {
  border: 1px solid #603;
  -webkit-box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  line-height: 20px;
  
  &.sel {
    -moz-box-shadow: 0px 0px 4px #999;
    -webkit-box-shadow: 0px 0px 4px 4px #999;
    color: white;
  }
  
  .article-thumb-title {
    background-color: rgba(102, 0, 51, 0.8);
    z-index: 10;
    padding: 10px;
    font-size: 16px;
    font-family: 'Oswald', Helvetica, Verdana, sans-serif;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .article-thumb-cover {
  }
}

$theme.articles-grid {
  font-family: Oswald, Verdana;
  font-size: 16px;
  line-height: 20px;
}

$theme.article-container {
  background-color: rgb(255,255,255) ;
  z-index: 100;
  -webkit-transition: -webkit-transform .5s ease;
  -webkit-transform: scale3d(0,0,1);
  
  .article-content {
    font: 15px Georgia;
    -moz-column-count: 2;
  	-moz-column-gap:  20px;
  	-webkit-column-count: 2;
  	-webkit-column-gap: 40px;
  	column-count: 2;
  	column-gap: 20px;
  	overflow: auto;
  	line-height: 23px;
  	
  	.article-header {
  	  text-align: left;
  	  margin-bottom: 20px;
  	  
  	  .title {
  	    font: 40px Helvetica;
  	    display: block;
  	    
  	  }
  	  
  	  .byline {
  	    font-size: 13px;
  	    color: gray;
  	    padding-top: 5px;
  	    padding-bottom: 5px;
  	    
  	    .author {
    	    
    	  }

    	  .author::before {
          content: "By ";
        }
        
        .date::before {
          content: " on ";
        }
  	  }
  	}
  }
}

$theme.collection {
  background: transparent;
}

$theme.article-hidden {
  -webkit-transform: scale3d(0,0,1);
}

$theme.article-visible {
  -webkit-transform: scale3d(1,1,1);
}