.i-tab-control {
	
}

.i-tab-bar {
	background: #000 sc_static('tabBar') repeat-x;
	text-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px;
	color: white;
}

.i-tab-bar-item {
	
}

.i-tab-bar-item-active {
	background: rgba(255,255,255,0.2);
	-webkit-border-radius: 5px;
}
